.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	align-self: stretch;

	.price {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		align-self: stretch;
	}

	.name {
		min-height: 48px;
	}
}
