.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 100%;

	/* .drag {
		width: 32px;
	}

	p {
		text-align: start;
	}

	.thumbnail {
		width: 80px;
	}

	.price {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	} */
}
